<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class="col-md-6">
<p>Whether solving problems with code or founding a startup, idea generation is essential. To build up your idea muscle, you should practice generating 10 ideas every day. This app helps you do just that.</p> 
<p>Every workout begins with a single rep, so get started. Enter your first idea now.</p>   
</div>
</div>
 
<form class="col-md-4" action="/" method="post">
	<div class="form-group"> 
    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <p><br /></p>
  <div class="actions">
    <%#= f.submit %>
	<input class="btn btn-info btn-lg active" type="submit" value="submit">
  </div>
  </div>
  </form>
<% end %>
